.card.activity {
    cursor: pointer;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin-top: 5px;
}

span.history {
	font-style: italic;
	font-weight: bold;
	margin-right: 8px;
	color: blue;
}

.big-rock {
	font-style: italic;
	font-weight: bold;
	margin-right: 8px;
	color: red;
}